.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.card {
  z-index: 100;
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: max-content;
}

.closeButton {
  border: solid rgb(170, 2, 2) !important;
  border-width: thin !important;
  color: rgb(165, 1, 1) !important;
  background-color: white !important;
  font-weight: lighter !important;
}

.h3 {
  display: inline-block;
  width: 90%;
}

.price {
  font-weight: bolder;
  font-size: large;
  display: inline-block;
}